<h5>Executions</h5>
<div class="card mb-4" data-live-poll-region="executions-table">
  <div class="list-group list-group-flush">
    <% executions.each do |execution| %>
      <%= tag.div id: dom_id(execution), class: "list-group-item py-3" do %>
        <div class="d-md-flex">
          <div class="flex-fill">
            <div class="small text-muted">
              #<%= execution.number %>:
              <%= tag.code link_to(execution.id, "##{dom_id(execution)}", class: "text-muted text-decoration-none") %>
            </div>
            <div class="d-flex gap-2 align-items-center text-muted mt-1">
              <%= status_badge execution.status %>
              <%= relative_time execution.last_status_at, include_seconds: true %>

              <% if execution.runtime_latency %>
                • <div><%= format_duration execution.runtime_latency %> runtime</div>
              <% end %>
              <% if execution.queue_latency %>
                • <div><%= format_duration execution.queue_latency %> in queue</div>
              <% end %>
            </div>
          </div>
          <div>
            <div class="mt-4 d-flex gap-2">
              <%= tag.button type: "button", class: "btn btn-link btn-sm text-decoration-none text-muted", role: "button",
                data: { bs_toggle: "collapse", bs_target: "##{dom_id(execution, 'params')}" },
                aria: { expanded: false, controls: dom_id(execution, "params") } do %>
                Inspect
              <% end %>

              <%= button_to execution_path(execution.id), method: :delete, class: "btn btn-sm btn-outline-danger", title: "Destroy execution", data: { confirm: "Confirm destroy" } do %>
                <%= render_icon "trash" %>
                Destroy
              <% end %>
            </div>
          </div>
        </div>
        <% if execution.error %>
          <div class="mt-3">
            <strong class="small">Error:</strong>
            <pre class="text-wrap text-break m-0"><%= execution.error %></pre>
          </div>
        <% end %>
        <div>
          <%= tag.pre JSON.pretty_generate(execution.serialized_params), id: dom_id(execution, "params"), class: "collapse bg-light card card-body p-3 my-3" %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
