<div class="card my-3">
  <div class="table-responsive">
    <table class="table card-table table-bordered table-hover table-sm mb-0">
      <thead>
        <th>GoodJob ID</th>
        <th>ActiveJob ID</th>
        <th>Job Class</th>
        <th>Queue</th>
        <th>Scheduled At</th>
        <th>Error</th>
        <th>ActiveJob Params</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <% jobs.each do |job| %>
          <tr id="<%= dom_id(job) %>">
            <td><%= link_to job.id, active_job_path(job.serialized_params['job_id'], anchor: dom_id(job)) %></td>
            <td><%= link_to job.serialized_params['job_id'], active_job_path(job.serialized_params['job_id']) %></td>
            <td><%= job.serialized_params['job_class'] %></td>
            <td><%= job.queue_name %></td>
            <td><%= job.scheduled_at || job.created_at %></td>
            <td><%= job.error %></td>
            <td>
              <%= tag.button "Preview", type: "button", class: "btn btn-sm btn-outline-primary", role: "button",
                data: {bs_toggle: "collapse", bs_target: "##{dom_id(job, 'params')}"},
                aria: {expanded: false, controls: dom_id(job, "params")}
              %>
              <%= tag.pre JSON.pretty_generate(job.serialized_params), id: dom_id(job, "params"), class: "collapse" %>
            </td>
            <td>
              <%= button_to active_job_path(job.serialized_params['job_id']), method: :delete, class: "btn btn-sm btn-outline-danger", title: "Delete job" do %>
                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                  <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                  <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg>
              <% end %>
            </td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
