<!DOCTYPE html>
<html lang="<%= I18n.locale %>">
<head>
  <title>Good Job Dashboard</title>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport">
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%# Assets must use *_url route helpers to avoid being overriden by config.asset_host %>
  <%= stylesheet_link_tag bootstrap_url(format: :css, v: GoodJob::VERSION), skip_pipeline: true %>
  <%= stylesheet_link_tag style_url(format: :css, v: GoodJob::VERSION) %>

  <%= javascript_include_tag bootstrap_url(format: :js, v: GoodJob::VERSION), nonce: true %>
  <%= javascript_include_tag chartjs_url(format: :js, v: GoodJob::VERSION), nonce: true %>
  <%= javascript_include_tag scripts_url(format: :js, v: GoodJob::VERSION), nonce: true %>

  <%= javascript_include_tag rails_ujs_url(format: :js, v: GoodJob::VERSION), nonce: true %>
</head>
<body>
  <%= render "good_job/shared/navbar" %>

  <div class="container-fluid">
    <%= render "good_job/shared/alert" %>

    <%= yield %>
  </div>

    <%= render "good_job/shared/footer" %>
</body>
</html>
