<!DOCTYPE html>
<html lang="en">
<head>
  <title>Good Job Dashboard</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>

  <%= stylesheet_link_tag bootstrap_path(format: :css, v: GoodJob::VERSION) %>
  <%= stylesheet_link_tag style_path(format: :css, v: GoodJob::VERSION) %>

  <%= javascript_include_tag bootstrap_path(format: :js, v: GoodJob::VERSION) %>
  <%= javascript_include_tag chartjs_path(format: :js, v: GoodJob::VERSION) %>
  <%= javascript_include_tag scripts_path(format: :js, v: GoodJob::VERSION) %>

  <%= javascript_include_tag rails_ujs_path(format: :js, v: GoodJob::VERSION) %>
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
      <%= link_to "GoodJob ðŸ‘", root_path, class: 'navbar-brand mb-0 h1' %>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <%= link_to "All Executions", root_path, class: ["nav-link", ("active" if current_page?(root_path))] %>
          </li>
          <li class="nav-item">
            <%= link_to "All Jobs", jobs_path, class: ["nav-link", ("active" if current_page?(jobs_path))] %>
          </li>
          <li class="nav-item">
            <%= link_to "Cron Schedules", cron_entries_path, class: ["nav-link", ("active" if current_page?(cron_entries_path))] %>
          </li>
          <li class="nav-item">
            <div class="nav-link">
              <span class="badge bg-secondary">More views coming soon</span>
            </div>
          </li>

          <!-- Coming Soon
            <li class="nav-item">
              <%= link_to "Upcoming Jobs", 'todo', class: ["nav-link", ("active" if current_page?('todo'))] %>
            </li>
            <li class="nav-item">
              <%= link_to "Finished Jobs", 'todo', class: ["nav-link", ("active" if current_page?('todo'))] %>
            </li>
            <li class="nav-item">
              <%= link_to "Errored Jobs", 'todo', class: ["nav-link", ("active" if current_page?('todo'))] %>
            </li>
          -->
        </ul>
        <div class="text-muted" title="Now is <%= Time.current %>">Times are displayed in <%= Time.current.zone %> timezone</div>
      </div>
    </div>
  </nav>

  <div class="container-fluid">
    <div class="card border-warning text-dark my-3">
      <div class="card-body">
        <p class="card-text">ðŸš§ GoodJob's dashboard is a work in progress. Please contribute ideas and code on <a href="https://github.com/bensheldon/good_job/issues" target="_blank" rel="nofollow noopener noreferrer">Github</a>.</p>
      </div>
    </div>

    <% if notice %>
      <div class="alert alert-success alert-dismissible fade show d-flex align-items-center offset-md-3 col-6" role="alert">
        <%= render "good_job/shared/icons/check", class: "flex-shrink-0 me-2" %>
        <div><%= notice %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% elsif alert %>
      <div class="alert alert-warning alert-dismissible fade show d-flex align-items-center offset-md-3 col-6" role="alert">
        <%= render "good_job/shared/icons/exclamation", class: "flex-shrink-0 me-2" %>
        <div><%= alert %></div>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>
