<div class='card mb-2'>
  <div class='card-body'>

    <%= form_with(method: :get, local: true, class: 'row') do |form| %>
      <div class="col-md-3">
        <label class="form-label">Filter by job class</label>
        <%= form.select :job_class, filter.job_classes.collect { |t| [ format('%s (%d)', t[0], t[1]), t[0] ]}, { include_blank: true, selected: params[:job_class] }, { class: 'form-select form-select-sm' }  %>
      </div>

      <div class="col-md-2">
        <label class="form-label">Filter by queue</label>
        <%= form.select :queue_name, filter.queues.collect { |t| [ format('%s (%d)', t[0].titleize, t[1]), t[0] ]}, { include_blank: true, selected: params[:queue_name] }, { class: 'form-select form-select-sm' }  %>
      </div>

      <div class="col-md-2">
        <label class="form-label">Filter by state</label>
        <%= form.select :state, filter.states.collect { |t| [ format('%s (%d)', t[0].titleize, t[1]), t[0] ]}, { include_blank: true, selected: params[:state] }, { class: 'form-select form-select-sm' }  %>
      </div>

      <div class="col-md-3">
        <label class="form-label">Search</label>
        <%= form.search_field :query, value: params[:query], class: "form-control form-control-sm" %>
      </div>

      <div class="col-md-2">
        <label class="form-label">&nbsp;</label>
        <div class="input-group">
          <%= form.button "Search", type: "submit", name: nil, class: "btn btn-sm btn-outline-secondary form-control" %>
          <%= link_to "Clear", nil, class: "btn btn-sm btn-outline-secondary" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
