<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to t(".name"), root_path, class: "navbar-brand mb-0 h1" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto">
        <li class="nav-item">
          <%= link_to t(".executions"), root_path, class: ["nav-link", ("active" if current_page?(root_path))] %>
        </li>
        <li class="nav-item">
          <%= link_to t(".jobs"), jobs_path, class: ["nav-link", ("active" if current_page?(jobs_path))] %>
        </li>
        <li class="nav-item">
          <%= link_to t(".cron_schedules"), cron_entries_path, class: ["nav-link", ("active" if current_page?(cron_entries_path))] %>
        </li>
        <li class="nav-item">
          <%= link_to t(".processes"), processes_path, class: ["nav-link", ("active" if current_page?(processes_path))] %>
        </li>
        <li class="nav-item">
          <div class="nav-link">
            <span class="badge bg-secondary"><%= t(".commig_soon") %></span>
          </div>
        </li>
      </ul>
      <div class="navbar-nav">
        <div class="nav-item pe-2">
          <input type="checkbox" id="toggle-poll" name="toggle-poll" data-gj-action='change#togglePoll' <%= 'checked' if params[:poll].present? %>>
          <label for="toggle-poll"><%= t(".live_poll") %></label>
        </div>
        <div class="nav-item">
          <div class="dropdown">
            <button class="btn btn-primary btn-sm dropdown-toggle" type="button" id="localeOptions" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              <%= I18n.locale %>
            </button>
            <div class="dropdown-menu" aria-labelledby="localeOptions">
              <%== language_options %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
