<div class="bg-light break-out border-bottom">
  <h2 class="container-fluid pt-3 pb-2">Processes</h2>
</div>

<div class="card my-3" data-live-poll-region="processes">
  <div class="list-group list-group-flush text-nowrap" role="table">
    <header class="list-group-item bg-light">
      <div class="row small text-muted text-uppercase align-items-center">
        <div class="col">Process</div>
        <div class="col">Schedulers</div>
        <div class="col-2 d-flex gap-2">
          <span>Started</span>
        </div>
        <div class="col-auto">
          <%= tag.button type: "button", class: "btn btn-sm text-muted ms-auto", role: "button",
                         data: { bs_toggle: "collapse", bs_target: ".process-state" },
                         aria: { expanded: false, controls: @processes.map { |process| "##{dom_id(process, 'state')}" }.join(" ") } do %>
              <%= render_icon "info" %>
              <span class="visually-hidden">Inspect</span>
          <% end %>
        </div>
      </div>
    </header>
    <% @processes.each do |process| %>
      <div id="<%= dom_id(process) %>" class="<%= dom_class(process) %> list-group-item py-3" role="row">
        <div class="row align-items-center">
          <div class="col">
            <%= tag.code title: process.state['proctitle'], class: "font-monospace" do %>
              <span class="text-muted opacity-50">$</span>
              <%= process.basename %>
            <% end %>
            <div>
              <span class="text-muted small">PID</span>
              <span class="badge rounded-pill bg-light text-dark"><%= process.state["pid"] %></span>
              <span class="text-muted small">@</span>
              <span class="badge rounded-pill bg-light text-dark"><%= process.state["hostname"] %></span>
            </div>
          </div>
          <div class="col">
            <% process.state["schedulers"].each do |scheduler| %>
              <pre class="mb-0"><%= scheduler %></pre>
            <% end %>
          </div>
          <div class="col-2 small"><%= relative_time(process.created_at) %></div>
          <div class="col-auto">
            <%= tag.button type: "button", class: "btn btn-sm text-muted ms-auto", role: "button",
                           title: "Inspect",
                           data: { bs_toggle: "collapse", bs_target: "##{dom_id(process, 'state')}" },
                           aria: { expanded: false, controls: dom_id(process, "state") } do %>
              <%= render_icon "info" %>
              <span class="visually-hidden">Inspect</span>
            <% end %>
          </div>
        </div>
      </div>
      <%= tag.div id: dom_id(process, "state"), class: "process-state list-group-item collapse small bg-dark text-light" do %>
        <%= tag.pre JSON.pretty_generate(process.state) %>
      <% end %>
    <% end %>
    <% if @processes.empty? %>
      <div class="list-group-item py-4 text-center text-muted">
        No GoodJob processes found.
      </div>
    <% end %>
  </div>
</div>
