<div data-live-poll-region id="filter" class="">
  <div class="">
    <div class="border-bottom mb-3">
      <h2 class="pt-3 pb-2"><%= title %></h2>
    </div>

    <%= render "good_job/shared/search_filter", filter: filter %>

    <ul class="nav nav-tabs my-3">
      <li class="nav-item">
        <%= link_to "All", filter.to_params(state: nil), class: "nav-link #{"active" unless params[:state].present?}" %>
      </li>

      <% filter.states.each do |name, count| %>
        <li class="nav-item">
          <%= link_to filter.to_params(state: name), class: "nav-link #{"active" if params[:state] == name}" do %>
            <%= t(name, scope: 'good_job.status') %>
            <span class="badge bg-primary rounded-pill <%= "bg-secondary" if count == 0 %>"><%= number_with_delimiter(count, t('good_job.number.format')) %></span>
          <% end %>
        </li>
      <% end %>
    </ul>
  </div>

  <%= javascript_tag nonce: true do %>
    document.addEventListener("DOMContentLoaded", () => {
      document.querySelectorAll("#job_class_filter, #job_queue_filter").forEach((filter) => {
        filter.addEventListener("change", () => {
          document.querySelector("#filter_form").submit();
        });
      })
    })
  <% end %>
</div>
