<div class="border-bottom">
  <h2 class="pt-3 pb-2"><%= t ".title" %></h2>
</div>

<div class="my-3 card">
  <div class="list-group list-group-flush text-nowrap" role="table">
    <header class="list-group-item bg-body-tertiary">
      <div class="row small text-muted text-uppercase align-items-center">
        <div class="col-4"><%= t ".job_class" %></div>
        <div class="col-lg-2 d-none d-lg-block"><%= t ".executions" %></div>
        <div class="col-lg-2 d-none d-lg-block"><%= t ".average_runtime" %></div>
        <div class="col-lg-2 d-none d-lg-block"><%= t ".minimum_runtime" %></div>
        <div class="col-lg-2 d-none d-lg-block"><%= t ".maximum_runtime" %></div>
      </div>
    </header>

    <% @performances.each do |performance| %>
      <div role="row" class="list-group-item py-3">
        <div class="row align-items-center">
          <div class="col-lg-4"><%= performance.job_class %></div>
          <div class="col-lg-2"><%= performance.executions_count %></div>
          <div class="col-lg-2"><%= format_duration performance.avg_duration %></div>
          <div class="col-lg-2"><%= format_duration performance.min_duration %></div>
          <div class="col-lg-2"><%= format_duration performance.max_duration %></div>
        </div>
      </div>
    <% end %>
  </div>
</div>
