<div class="border-bottom py-2 mb-3">
  <div class="pt-2">
    <div class="row align-items-center">
      <div class="col">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb small mb-0">
            <li class="breadcrumb-item"><%= link_to t("good_job.performances.index.title"), performances_path %></li>
            <li class="breadcrumb-item active" aria-current="page"><%= tag.code @job_class, class: "text-muted" %></li>
          </ol>
          <h2 class="mt-2"><%= @job_class %></h2>
        </nav>
      </div>
    </div>
  </div>
</div>

<div class="chart-wrapper container-fluid mb-3">
  <canvas class="chart" data-json="<%= @chart_data.to_json %>"></canvas>
</div>

<div class="mb-3 card">
  <div class="list-group list-group-flush text-nowrap" role="table">
    <header class="list-group-item bg-body-tertiary">
      <div class="row small text-muted text-uppercase align-items-center">
        <div class="col-lg-3 d-none d-lg-block"><%= t ".executions" %></div>
        <div class="col-lg-3 d-none d-lg-block"><%= t ".average_runtime" %></div>
        <div class="col-lg-3 d-none d-lg-block"><%= t ".minimum_runtime" %></div>
        <div class="col-lg-3 d-none d-lg-block"><%= t ".maximum_runtime" %></div>
      </div>
    </header>
    <div role="row" class="list-group-item py-3">
      <div class="row align-items-center">
        <div class="col-lg-3"><%= @count %></div>
        <div class="col-lg-3"><%= format_duration @runtimes.sum.fdiv(@runtimes.size) %></div>
        <div class="col-lg-3"><%= format_duration @runtimes.min %></div>
        <div class="col-lg-3"><%= format_duration @runtimes.max %></div>
      </div>
    </div>
  </div>
</div>

<%= render 'good_job/jobs/executions', executions: @longest_executions %>
