<div class="break-out bg-light border-bottom py-2 mb-3">
  <div class="container-fluid pt-2">
    <div class="d-flex align-items-center">
      <div class="flex-fill">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb small mb-0">
            <li class="breadcrumb-item"><%= link_to "Jobs", jobs_path %></li>
            <li class="breadcrumb-item active" aria-current="page">ActiveJob ID: <code><%= @job.id %></code></li>
          </ol>
        </nav>
        <h2 class="mb-1"><code><%= @job.job_class %></code></h2>
        <div>
          <%= status_badge @job.status %>
          <span class="small text-muted">
            <%= relative_time @job.finished_at || @job.performed_at || @job.scheduled_at || @job.created_at, include_seconds: true %>

            <% if @job.runtime %>
              • <%= @job.runtime.round(2) %>s runtime
            <% end %>

            <% if @job.executions_count > 1 %>
              • <%= pluralize @job.executions_count, 'attempt' %>
            <% end %>
          </span>
        </div>
      </div>
      <div>
        <% job_reschedulable = @job.status.in? [:scheduled, :retried, :queued] %>
        <%= button_to reschedule_job_path(@job.id), method: :put,
            class: "btn btn-sm #{job_reschedulable ? 'btn-outline-primary' : 'btn-outline-secondary'}",
            form_class: "d-inline-block",
            disabled: !job_reschedulable,
            aria: { label: "Reschedule job" },
            title: "Reschedule job",
            data: { confirm: "Confirm reschedule" } do %>
          <%= render "good_job/shared/icons/skip_forward" %>
          Reschedule
        <% end %>

        <% job_discardable = @job.status.in? [:scheduled, :retried, :queued] %>
        <%= button_to discard_job_path(@job.id), method: :put, class: "btn btn-sm #{job_discardable ? 'btn-outline-primary' : 'btn-outline-secondary'}", form_class: "d-inline-block", disabled: !job_discardable, aria: { label: "Discard job" }, title: "Discard job", data: { confirm: "Confirm discard" } do %>
          <%= render "good_job/shared/icons/stop" %>
          Discard
        <% end %>

        <%= button_to retry_job_path(@job.id), method: :put, class: "btn btn-sm #{@job.status == :discarded ? 'btn-outline-primary' : 'btn-outline-secondary'}", form_class: "d-inline-block", disabled: @job.status != :discarded, aria: { label: "Retry job" }, title: "Retry job", data: { confirm: "Confirm retry" } do %>
          <%= render "good_job/shared/icons/arrow_clockwise" %>
          Retry
        <% end %>
      </div>
    </div>
  </div>
</div>

<table class="table">
  <tr>
    <th class="col-1">Queue</th>
    <td>
      <%= @job.queue_name %>
        <% if @job.latency %>
          <span class="text-muted small">(<%= @job.latency.round(2) %>s latency)</span>
        <% end %>
    </td>
  </tr>
  <tr>
    <th>Priority</th>
    <td><%= @job.priority %></td>
  </tr>

  <tr>
    <th>Arguments</th>
    <td><code><%= @job.serialized_params["arguments"].map(&:inspect).join(', ') %></code></td>
  </tr>

  <% if @job.recent_error %>
    <tr>
      <th>Error</th>
      <td><pre class="text-danger my-0"><%= @job.recent_error %></pre></td>
    </tr>
  <% end %>

  <tr>
    <th>Params</th>
    <td><%= tag.pre JSON.pretty_generate(@job.serialized_params) %></td>
  </tr>
</table>

<%= render 'good_job/executions/table', executions: @executions %>
