<div class="card my-3 p-6">
  <%= render 'shared/chart', chart_data: @chart %>
</div>

<div class='card mb-2'>
  <div class='card-body d-flex flex-wrap'>
    <div class='me-4'>
      <small>Filter by job class</small>
      <br>
      <% @filter.job_classes.each do |name, count| %>
        <% if params[:job_class] == name %>
          <%= link_to(root_path(@filter.to_params(job_class: nil)), class: 'btn btn-sm btn-outline-secondary active', role: "button", "aria-pressed": true)  do %>
            <%= name %> (<%= count %>)
          <% end %>
        <% else %>
          <%= link_to(root_path(@filter.to_params(job_class: name)), class: 'btn btn-sm btn-outline-secondary', role: "button") do %>
            <%= name %> (<%= count %>)
          <% end %>
        <% end %>
      <% end %>
    </div>
    <div>
      <small>Filter by state</small>
      <br>
      <% @filter.states.each do |name, count| %>
        <% if params[:state] == name %>
          <%= link_to(root_path(@filter.to_params(state: nil)), class: 'btn btn-sm btn-outline-secondary active', role: "button", "aria-pressed": true)  do %>
            <%= name %> (<%= count %>)
          <% end %>
        <% else %>
          <%= link_to(root_path(@filter.to_params(state: name)), class: 'btn btn-sm btn-outline-secondary', role: "button") do %>
            <%= name %> (<%= count %>)
          <% end %>
        <% end %>
      <% end %>
    </div>
  </div>
</div>

<% if @filter.jobs.present? %>
  <%= render 'shared/jobs_table', jobs: @filter.jobs %>

  <nav aria-label="Job pagination" class="mt-3">
    <ul class="pagination">
      <li class="page-item">
        <%= link_to({ after_scheduled_at: (@filter.last.scheduled_at || @filter.last.created_at), after_id: @filter.last.id }, class: "page-link") do %>
          Next jobs <span aria-hidden="true">&raquo;</span>
        <% end %>
      </li>
    </ul>
  </nav>
<% else %>
  <em>No jobs present.</em>
<% end %>
