<% if @cron_schedules.present? %>
  <div class="card my-3">
    <div class="table-responsive">
      <table class="table card-table table-bordered table-hover table-sm mb-0">
        <thead>
          <th>Cron Job Name</th>
          <th>Configuration</th>
          <th>Class</th>
          <th>Description</th>
          <th>Next scheduled</th>
        </thead>
        <tbody>
          <% @cron_schedules.each do |job_key, job| %>
            <tr>
              <td class="font-monospace"><%= job_key %></td>
              <td class="font-monospace"><%= job[:cron] %></td>
              <td class="font-monospace"><%= job[:class] %></td>
              <td><%= job[:description] %></td>
              <td><%= Fugit.parse_cron(job[:cron]).next_time.to_local_time %></td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
<% else %>
  <em>No cron jobs present.</em>
<% end %>
